body {
overflow-y: hidden;
overflow-x: hidden;
cursor: auto;
font-family: 'Rasa', serif;
/* height: 2984px;
width: 2880px; */
}

.background {
  width: 2880px;
  height: 3000px;
}

#title {
  position: absolute;
  font-size: 500%;
  top: 500px;
  left: 300px;
  color: #D8D8D8;
}

#theend {
  font-size: 200%;
}

#credits {
  position: absolute;
  font-size: 150%;
  top: 2950px;
  left: 1470px;
  color: #D8D8D8;
  opacity: .8;
}

#credits:hover {
  cursor: pointer;
}

#depthmeter {
  position: fixed;
  top: 100px;
  left: 1330px;
  width: 8%;
  height: 50px;
  background-color: transparent;
  opacity: 0;
}

#anchor {
  position: fixed;
  width: 3%;
  left: 1350px;
  top: 50px;
  opacity: 0;
}

#rope {
  position: fixed;
  width: 2px;
  height: 60px;
  background-color: black;
  top: 0px;
  left: 1371px;
  opacity: 0;
}

#remindershrimp {
  position: absolute;
  width: 5%;
  left: 1600px;
  top: 2600px;
  opacity: 0;
}

#reminderthoughtbubble {
  position: absolute;
  width: 15%;
  left: 1640px;
  top: 2450px;
  opacity: 0;
}

#remindershrimpwords {
  position: absolute;
  top: 2455px;
  left: 1650px;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 145%;
  opacity: 0;
}

.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.right {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#sun {
  position: absolute;
  top: -200px;
  left: 87.5%;
  width: 25%;
  opacity: 1;
}

#birds {
  position: absolute;
  top:0%;
  left: 105%;
  width: 30%;
}

#seaweed1 {
  position: absolute;
  top: 2882px;
  left: 2500px;
  width: 10%;
}

#seaweed2 {
  position: absolute;
  top: 2890px;
  left: 2700px;
  width: 10%;
}

#seaweed3 {
  position: absolute;
  top: 2880px;
  left: 2430px;
  width: 10%;
}

#seaweed4 {
  position: absolute;
  top: 2805px;
  left: 2000px;
  width: 10%;
  z-index: 4;
}

#seaweed5 {
  position: absolute;
  top: 2840px;
  left: 1700px;
  width: 10%;
}

#subwaycar {
  position: absolute;
  width: 30%;
  top: 2630px;
  left: 2000px;
  transform: rotate(-10deg);
  z-index: 3;
  opacity: .9;
}

#subwaycar:hover {
  cursor: pointer;
}

#treasurechest {
  position: absolute;
  width: 15%;
  top: 2750px;
  left: 2200px;
}

#square {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 2750px;
  left: 2200px;
  background-color: white;
}

#underwater {
  width: 1440px;
  height: 2600px;
  position: absolute;
  top: 400px;
  left: 1440px;
  /* background-color: lightblue; */
  background-image: linear-gradient(#57E9FF, #000);
  opacity: .3;
}

#bag {
  height: 20px;
  width: 13.2px;
  position: absolute;
  top: 380px;
  left: 400px;
}

#fishthoughtbubble {
  position: absolute;
  width: 15%;
  top: 720px;
  left: 1950px;
  opacity: 0;
}

#floatingbagmovement{
  position: absolute;
  width: 66px;
  height: 100px;
  top: 340px;
  left: 1700px;
  z-index: 1;
}

#floatingbagmovement:hover {
  cursor: pointer;
}

#floatingbag {
  /* position: absolute; */
  width: 66px;
  height: 100px;
  /* top: 340px; */
  /* left: 1700px; */
  opacity: 0;
}

#narratorshrimp {
  position: absolute;
  width: 5%;
  top: 650px;
  left: 2650px;
  opacity: 0;
}

#narratorshrimpspeechbubble {
  position: absolute;
  width: 15%;
  top: 475px;
  left: 2475px;
  opacity: 0;
}

#narratorshrimpwords {
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 150%;
  position: absolute;
  top: 482.5px;
  left: 2485px;
  opacity: 0;
}

.narratorshrimpfadeaway {
  animation-name: narratorshrimpanimate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes narratorshrimpanimate {
    0% {opacity: 1};
    /* .1% {opacity: 0}; */
    100% {opacity: 0};
}

#seagull {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

#seagullspin {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0px;
  left: 2900px;
}

#birdthoughtbubble {
  position: absolute;
  width: 15%;
  top: 95px;
  left: 154%;
  opacity: 0;
}

#scrolldown {
  position: fixed;
  width: 10%;
  bottom: 5%;
  left: 0%;
  transform: rotate(90deg);
  opacity: 0;
}

#trashpile1 {
  position: absolute;
  top: 2700px;
  left: 1550px;
  width: 18%;
  opacity: .8;
}

#trashpile2 {
  position: absolute;
  top: 2700px;
  left: 1700px;
  width: 13%;
  opacity: .5;
}

#trashpile3 {
  position: absolute;
  width: 10%;
  left: 1670px;
  top: 2680px;
  opacity: .2;
}

#trashpile4 {
  position: absolute;
  top: 2690px;
  left: 1790px;
  width: 16%;
  opacity: .8;
}

#trashpile5 {
  position: absolute;
  top: 2725px;
  left: 1945px;
  width: 12%;
  opacity: .5;
  transform: rotate(-5deg);
}

#trashpile6 {
  position: absolute;
  top: 2695px;
  left: 2200px;
  width: 12%;
  opacity: .2;
}

#trashpile7 {
  position: absolute;
  top: 2672px;
  left: 2300px;
  width: 15%;
  opacity: .5;
  transform: rotate(15deg);
}

#trashpile8 {
  position: absolute;
  top: 2700px;
  left: 2410px;
  width: 20%;
  opacity: .8;
  transform: rotate(5deg);
}

#trashpile9 {
  position: absolute;
  top: 2751px;
  left: 2590px;
  width: 16%;
  opacity: .5;
  transform: rotate(-5deg);
}

#trashpile10 {
  position: absolute;
  top: 2810px;
  left: 2750px;
  width: 12%;
  opacity: .8;
}

#trashpile11 {
  position: absolute;
  top: 2700px;
  left: 2700px;
  width: 17%;
  opacity: .2;
}

#trashpile12 {
  position: absolute;
  top: 2650px;
  left: 2400px;
  width: 12%;
  opacity: .2;
}

#trashpile13 {
  position: absolute;
  top: 2700px;
  left: 1400px;
  width: 16%;
  opacity: .6;
}

#trashpile14 {
  position: absolute;
  top: 2665px;
  left: 1500px;
  width: 12%;
  opacity: .4;
}

#backgroundfish1 {
  position: absolute;
  width: 12%;
  left: 2880px;
  top: 500px;
  opacity: .5;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-name: bgfish1;
}

@keyframes bgfish1 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-1600px)}
}

#backgroundfish2 {
  position: absolute;
  width: 18%;
  left: 1300px;
  top: 720px;
  opacity: .3;
  animation-iteration-count: infinite;
  animation-duration: 37s;
  animation-timing-function: linear;
  animation-name: bgfish2;
}

@keyframes bgfish2 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1600px)}
}

#backgroundfish3 {
  position: absolute;
  width: 15%;
  left: 2880px;
  top: 1000px;
  opacity: .35;
  animation-iteration-count: infinite;
  animation-duration: 23s;
  animation-timing-function: linear;
  animation-name: bgfish3;
}

@keyframes bgfish3 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-1600px)}
}

#backgroundfish4 {
  position: absolute;
  width: 10%;
  left: 1300px;
  top: 1200px;
  opacity: .6;
  animation-iteration-count: infinite;
    animation-duration: 34s;
    animation-timing-function: linear;
    animation-name: bgfish4;
}

@keyframes bgfish4 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1600px)}
}

#backgroundfish5 {
  position: absolute;
  width: 23%;
  left: 1300px;
  top: 1400px;
  opacity: .3;
  animation-iteration-count: infinite;
  animation-duration: 27s;
  animation-timing-function: linear;
  animation-name: bgfish5;
}

@keyframes bgfish5 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1600px)}
}

#backgroundfish6 {
  position: absolute;
  width: 15%;
  left: 2880px;
  top: 1700px;
  opacity: .4;
  animation-iteration-count: infinite;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-name: bgfish6;
}

@keyframes bgfish6 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-1600px)}
}

#backgroundfish7 {
  position: absolute;
  width: 19%;
  left: 1600px;
  top: 1900px;
  opacity: .3;
  animation-iteration-count: infinite;
  animation-duration: 28s;
  animation-timing-function: linear;
  animation-name: bgfish7;
}

@keyframes bgfish7 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-1600px)}
}

#backgroundfish8 {
  position: absolute;
  width: 10%;
  left: 1300px;
  top: 2150px;
  opacity: .4;
  animation-iteration-count: infinite;
  animation-duration: 34s;
  animation-timing-function: linear;
  animation-name: bgfish8;
}

@keyframes bgfish8 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1600px)}
}

#backgroundfish9 {
  position: absolute;
  width: 25%;
  left: 1300px;
  top: 2400px;
  opacity: .2;
  animation-iteration-count: infinite;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-name: bgfish9;
}

@keyframes bgfish9 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1600px)}
}

#backgroundfish10 {
  position: absolute;
  width: 15%;
  left: 2600px;
  top: 2600px;
  opacity: .3;
  animation-iteration-count: infinite;
  animation-duration: 36s;
  animation-timing-function: linear;
  animation-name: bgfish10;
}

@keyframes bgfish10 {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-1600px)}
}

#shrimp1 {
  position: absolute;
  width: 3%;
  left: 1600px;
  top: 1650px;
}

#shrimp2 {
  position: absolute;
  width: 3%;
  left: 1620px;
  top: 1700px;
}

#shrimp3 {
  position: absolute;
  width: 3%;
  left: 1650px;
  top: 1630px;
}

#shrimpthoughtbubble {
  position: absolute;
  width: 15%;
  left: 1700px;
  top: 1460px;
  opacity: 0;
}

#eastereggbox {
  position: fixed;
  left: 1325px;
  top: 130px;
  height: 172px;
  width: 96px;
  background-color: transparent;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
}

#eggbehind {
  position: fixed;
  left: 1325px;
  top: 130px;
  height: 172px;
  width: 96px;
  background-color: white;
  opacity: 0;
}

#eastereggtitle {
  margin-top: 3px;
  width: 96px;
  text-align: center;
  height: 20px;
}

.eggbox {
  width: 40px;
  height: 40px;
  margin: 4px 4px 4px 4px;
  background-color: transparent;
  text-align: center;
}

.talleggobject {
  height: 100%;
  opacity: .4;
}

.wideeggobject {
  width: 100%;
  margin-top: 20%;
  opacity: .4;
}

#fishcheck {
  width: 40px;
  height: 40px;
  top: 157px;
  left: 1380px;
  position: fixed;
  opacity: 0;
}

#bagcheck {
  width: 40px;
  height: 40px;
  top: 157px;
  left: 1332px;
  position: fixed;
  opacity: 0;
}

#bottlecheck {
  width: 40px;
  height: 40px;
  top: 205px;
  left: 1332px;
  position: fixed;
  opacity: 0;
}

#shrimpcheck {
  width: 40px;
  height: 40px;
  top: 205px;
  left: 1380px;
  position: fixed;
  opacity: 0;
}

#whalecheck {
  width: 40px;
  height: 40px;
  top: 253px;
  left: 1332px;
  position: fixed;
  opacity: 0;
}

#subwaycarcheck {
  width: 40px;
  height: 40px;
  top: 253px;
  left: 1380px;
  position: fixed;
  opacity: 0;
}

#eggpopup{
  width: 300px;
  height: 300px;
  border-radius: 500px;
  background-color: white;
  position: fixed;
  top: 206px;
  left: 570px;
  z-index: 3;
  opacity: 0;
}

#eggpopupwords {
  position: absolute;
  width: 70%;
  height: 50%;
  margin-left: 15%;
  margin-top: 25%;
  font-size: 150%;
  opacity: 0;
  text-align: center;
}

#bubblepic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100.5%;
}

#birdwords {
  position: absolute;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 105px;
  width: 200px;
  font-size: 140%;
  /* top: 160px;
  left: 2255px; */
  top: 100px;
  left: 2225px;
  opacity: 0;
}

#birdnextarrow {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 2400px;
  top: 175px;
  opacity: 0;
}

#dolphinwords {
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 150%;
  position: absolute;
  top: 727.5px;
  left: 1959px;
  opacity: 0;
}

#turtlewords {
  position: absolute;
  top: 1557.5px;
  left: 2610px;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 150%;
  opacity: 0;
}

#shrimpwords {
  position: absolute;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 150%;
  top: 1467.5px;
  left: 1708px;
  opacity: 0;
}

#youngbagthoughtbubble {
  position: absolute;
  width: 15%;
  top: 1050px;
  left: 1830px;
  opacity: 0;
}

#youngbagwords {
  position: absolute;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 150%;
  top: 1057.5px;
  left: 1840px;
  opacity: 0;
}

#oldbagthoughtbubble {
  position: absolute;
  width: 15%;
  top: 1030px;
  left: 2130px;
  opacity: 0;
}

#oldbagwords {
  position: absolute;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
  height: 100px;
  width: 195px;
  font-size: 150%;
  top: 1037.5px;
  left: 2138px;
  opacity: 0;
}

#specialbag {
  position: absolute;
  width: 4%;
  top: 725px;
  left: 1365px;
  transform: rotate(-45deg);
  z-index: 2;
  opacity: .6;
}

#specialbag:hover {
  cursor: pointer;
}

.specialbagfloat {
  animation-name: specialbaganimate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes specialbaganimate {
  0% {transform: translateX(0px)}
  100% {transform: translateX(420px)}
}

#whale {
  width: 50%;
  position: absolute;
  top: 2160px;
  left: 1500px;
  opacity: .7;
  z-index: 2;
}

#whale:hover{
  cursor: pointer;
}

.whaleanimation {
  animation-name: whaleanimate;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes whaleanimate {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1400px);}
}

#fishfish {
  position: absolute;
  width: 7%;
  top: 450px;
  left: 2890px;
  animation-name: fishfishswim;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  z-index: 2;
  opacity: 0;
}

@keyframes fishfishswim {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-1600px)}
}

#fishfish:hover {
  cursor: pointer;
}

/* @keyframes floatingseagull {
  0% { transform: translateY(0);
  }
  50% { transform: translateY(-15px);
  };
  100% {transform: translateY(15px);
  };
} */

#oldbag {
  position: absolute;
  width: 7%;
  top: 1350px;
  left: 3000px;
  opacity: 0;
}

.oldbaganimation {
  animation-name: oldbaganimate;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes oldbaganimate {
  0% {transform: translate(0px, 0px);
      opacity: 0}
  100% {transform: translate(-650px, -170px);
        opacity: 1}
}

.oldbagswimawayanimation{
  animation-name: oldbagswimawayanimate;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes oldbagswimawayanimate {
  0% {transform: translate(0px, 0px);
      opacity: 1}
  100% {transform: translate(-300px, -500px);
        opacity: 0}
}

.youngbagswimaway {
  animation-name: youngbagswimawayanimate;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes youngbagswimawayanimate {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1200px);}
}

#youngbag {
  position: absolute;
  width: 7%;
  top: 1200px;
  left: 1330px;
  opacity: .9
}

.youngbaganimation{
  animation-name: youngbaganimate;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes youngbaganimate {
  0% {transform: translateX(0px);}
  100% {transform: translateX(400px);}
}

.seagullspinanimation {
  animation-name: seagullspinanimate;
  animation-delay: 9s;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes seagullspinanimate {
  0% {transform: translateX(0px); transform: translateY(0px);}
  100% {transform: translate(-475px, 260px);}
}

.seagullanimation {
  animation-name: seagullanimate;
  animation-delay: 9s;
  animation-duration: 1s;
  animation-iteration-count: 6;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes seagullanimate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}

.birdthoughtbubbleanimation {
  animation-name: birdthoughtbubbleanimate;
  animation-delay: 15s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes birdthoughtbubbleanimate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  };
}

.birdwordsanimation {
  animation-name: birdwordsanimate;
  animation-delay: 15s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes birdwordsanimate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  };
}

.birdnextarrowanimation {
  animation-name: birdnextarrowanimate;
  animation-delay: 15s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes birdnextarrowanimate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  };
}

.dolphinnextarrowanimation {
  animation-name: dolphinnextarrowanimate;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes dolphinnextarrowanimate {
  0% {
    opacity: .6;
  }
  100% {
    opacity: .6;
  };
}

.dolphinleaveanimation {
  animation-name: dolphinleaveanimate;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

@keyframes dolphinleaveanimate {
  0% {
    transform: translateX(500px);
    opacity: 1;
  }
  100% {
    transform: translateX(1700px);
    opacity: 1;
  }
}

#turtlethoughtbubble {
  position: absolute;
  width: 15%;
  top: 1550px;
  left: 2600px;
  opacity: 0;
}

.turtlethoughtbubbleanimation {
  animation-name: turtlethoughtbubble;
  animation-delay: .5s;
  animation-duration: 5.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes turtlethoughtbubble {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-550px);}
}

.turtlewordsanimation {
  animation-name: turtlewordsanimate;
  animation-delay: .5s;
  animation-duration: 5.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes turtlewordsanimate {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-550px);}
}

#turtle {
  position: absolute;
  width: 15%;
  left: 2900px;
  top: 1700px;

}
.turtleanimation{
  animation-name: turtleswim;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes turtleswim {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-650px);}
}

.turtleswimaway {
  animation-name: turtleawayanimate;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes turtleawayanimate {
  0% {transform: translateX(-650px);}
  100% {transform: translateX(700px);}
}

#eatenbag {
  position: absolute;
  width: 4%;
  top: 1730px;
  left: 2200px;
  opacity: 1;
}

.eatenbaganimation {
  animation-name: eatenbaganimate;
  animation-delay: 7s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes eatenbaganimation {
  0% {opacity: 1};
  .1% {opacity: 0};
  100% {opacity: 0};
}

.floatingbagopacityanimation {
  animation-name: floatingbagopacity;
  animation-delay: 7s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.floatingbaganimation {
  animation-name: floatingbaganimate;
  animation-delay: 7s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes floatingbagopacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  };
}

@keyframes floatingbaganimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  };
  100% {
    transform: translateY(15px);
  };
}

#dolphin {
  position: absolute;
  width: 20%;
  top: 800px;
  left: 1150px;
  opacity: 0;
}

.fish1animation {
  /* position: absolute;
  width: 10%;
  top: 800px;
  left: 1280px; */
  animation-name: fish1animate;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes fish1animate {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(530px);
  }
}

.dolphinswimaway {
  animation-name: dolphinawayanimate;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes dolphinawayanimate {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1220px);}
}

.baganimation {
  animation-name: bagfloat;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(15000, end);
}

@keyframes bagfloat {
  0.0000% { transform: translate(0.0px, 0.0px) ;
    height: 20px;
    width: 13.2px;
   }
  7.1% { transform: translate(50.2px, -10px) ;
    height: 22px;
    width: 14.52px;
  }
  14.2% { transform: translate(100.1px, -20px) ;
    height: 25px;
    width: 16.5px;
  }
  21.3% { transform: translate(200.2px, -40.5px) ;
    height: 29px;
    width: 19.14px;
  }
  28.4% { transform: translate(300px, -60.4px) ;
    height: 34px;
    width: 22.87px;
  }
  35.5% { transform: translate(400.5px, -99.4px) ;
    height: 45px;
    width: 29.7px;
  }
  42.6% { transform: translate(500.9px, -112.5px) ;
    height: 49px;
    width: 32.34px;
  }
  49.7% { transform: translate(600.4px, -122.7px) ;
    height: 54px;
    width: 35.64px;
  }
  56.8% { transform: translate(700.4px, -129.1px) ;
    height: 59px;
    width: 38.94px;
  }
  63.9% { transform: translate(800.0px, -130.8px) ;
    height: 64px;
    width: 42.24px;
  }
  71% { transform: translate(900.4px, -126.9px) ;
    height: 69px;
    width: 45.54px;
  }
  78.1% { transform: translate(1000.4px, -121.2px) ;
    height: 74px;
    width: 48.84px;
  }
  85.2% { transform: translate(1100.9px, -110.6px) ;
    height: 79px;
    width: 52.14px;
  }
  92.3% { transform: translate(1200.7px, -101.2px) ;
    height: 84px;
    width: 55.44px;
  }
  99.99%{
    transform: translate(1300.0px, -40.0px) ;
      height: 100px;
      width: 66px;
      opacity: 1;
  }
  100.0000% {
    opacity: 0;
  }
}

.shrimps {
  z-index: 2;
  opacity: .7;
}

.shrimps:hover {
  cursor: pointer;
}

#bottle {
  position: absolute;
  width: 2%;
  top: 1425px;
  left: 2450px;
  transform: rotate(45deg);
  z-index: 2;
  opacity: .7;
}

#bottle:hover {
  cursor: pointer;
}

#rightarrow {
  position: absolute;
  bottom: 25%;
  right: 2%;
  width: 10%;
  /* opacity: 1; */
  animation-name: moveright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#rightarrow:hover {
  cursor: pointer;
}

#downarrow {
  position: absolute;
  width: 10%;
  transform: rotate(90deg);
  left: 2750px;
  top: 340px;
  animation-name: moveright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moveright {
  0% {opacity: 0;};
  /* 50% {opacity: 0;}; */
  100% {opacity: 1;};
}

#jellyfish {
  position: absolute;
  width: 4%;
  top: 1750px;
  left: 2100px;
}

.jellyfishanimation {
  animation-name: jellyfishanimate;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  /* animation-timing-function: linear; */
}

@keyframes jellyfishanimate {
  0% {transform: translateX(0px);
      opacity: 1;
  }
  100% {transform: translate(-150px, 50px);
        opacity: 0;
  }
}

#crab {
  position: absolute;
  width: 6%;
  top: 2880px;
  left: 1900px;
  animation-name: crabby;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  z-index: 5;
  opacity: .8;
}

@keyframes crabby {
  0% {transform: translateX(0);}
  25% {transform: translateX(-150px);}
  75% {transform: translateX(300px);}
  100% {transform: translateX(0px);}
}

#boat {
  position: absolute;
  width: 15%;
  top: 240px;
  left: 2650px;
  animation-name: bobbing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  };
  100% {
    transform: translateY(15px);
  };
}


/* css for credits.html */


#creditsbody {
  height: 100%;
  background-image: linear-gradient(lightblue, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Rasa', serif;
}

#creditstitle {
  font-size: 300%;
  text-align: center;
  margin-top: 3%;
}

#creditslist {
  margin-left: 5%;
  margin-top: 3%;
  font-size: 107%;
}

#creditcenter {
  text-align: center;
  margin-left: -5%;
  font-size: 130%;
}

#playagain {
  position: absolute;
  top: 3%;
  left: 1.5%;
  font-size: 150%;
  width: 8%;
  height: 4%;
  background-color: white;
  padding: 10px;
  text-align: center;
}

#playagain:hover {
  cursor: pointer;
}
